@import '../../../css-config/Mixins.scss';
#premium {
  .slide_carousel {
    .swiper-controls {
      border-top: 1px solid var( --swiper-controls-border);
      padding: 37px 0;
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      #containerForBullets {
        @include flex();
        span {
          background: var(--swiper-controls-bullet);
          display: block;
          margin: 4px;
          cursor: pointer;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          &.swiper-custom-bullet-active {
            background: var(--white-mode);
          }
          @include lg {
            width: 12px;
            height: 12px;
          }
        }
      }
      button {
        border: none;
        color: var(--white-mode);
        background: transparent;
      }
    }
  }
}
