@import '../../css-config/Mixins.scss';

.fancy-photo {
  position: relative;
  width: 100%;
  &:hover {
    .full {
      opacity: 1;
      visibility: visible;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: #111111;

    img {
      max-height: 350px;
      height: 100%;
      width: 100%;
    }

    .full {
      @include flex();
      position: absolute;
      top: 5px;
      font-size: 40px;
      opacity: 0;
      color: #fff;
      border: none;
      background-color: transparent;
      cursor: pointer;
      opacity: 0.5;
      z-index: 2;
      transition: 0.3s ease-in-out;
      right: 10px;
      visibility: hidden;
    }
  }
}
