@import '../../../css-config/Mixins.scss';
#what_we_do {
  .service_boxes {
    padding-bottom: 60px;
    .row {
      row-gap: 0;
      @include lg {
        .col-12 {
          padding: 0;
        }
      }
    }
  }
}
