@import '../../../css-config/Mixins.scss';
#what_we_do {
  .service_boxes {
    padding-bottom: 60px;
    .row {
        row-gap: 0;
       @include lg{
        .col-12{
          padding: 0;
      }
       }
      .service_item {
        height: 100%;
        text-align: center;
        position: relative;
        padding: 40px;
        border: 1px solid #ddd;
        figure {
          height: 80px;
          width: 80px;
          margin: 0 auto 20px auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
        article{
            h3{
                font-size: 24px;
                letter-spacing: -1px;
                color: #000;
                margin-bottom: 10px;
            }
            p{
                font-size: 16px;
                color: #000;
                opacity: .7;
                line-height: 1.2;
                hyphens: auto;
            }
        }
      }
    }
  }
}
