#power {
  // height: 100vh;
  display: flex;
  align-items: center;

  .power {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // row-gap: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    margin: 50px;
    h5 {
      font-size: 1.875rem;
      line-height: 1.3;
      font-weight: 600;
      text-align: center;
      width: 800px;
      @media only screen and (max-width: 972px) {
        width: 400px;
      }
      @media only screen and (max-width: 576px) {
        width: 200px;
      }
    }
    p {
      text-align: center;
      width: 900px;
      letter-spacing: 0.35px;
      line-height: 1.8;
      @media only screen and (max-width: 972px) {
        width: 400px;
      }
      @media only screen and (max-width: 576px) {
        width: 200px;
      }
    }
    .counts {
      display: flex;
      justify-content: space-between;
      column-gap: 150px;
      @media only screen and (max-width: 972px) {
        flex-direction: column;
        row-gap: 30px;
      }
      .count {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        span {
          font-size: 4.375rem;
          line-height: 1;
          font-weight: 200;
          margin-bottom: 5px;
          font-family: "Montserrat", sans-serif;
        }
        h6 {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
        }
      }
    }
    .img-side {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        @media only screen and (max-width: 376px) {
          width: 200px;
        }
      }
    }
  }
}
