@import '../../../css-config/Mixins.scss';
.movies_tv_search {
  @include flex();
  width: 100%;
  padding: 45px 20px;
  color: var(--black);
  button {
    background: transparent;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    color: currentColor;
  }
  input {
    padding: 0 10px;
    border: none;
    outline: none;
    width: 100%;
    color: var(--black);
    background-color: transparent;
  }
}
