@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

:root {
  --text: #111517;
  --white-mode: #000;
  --black: #000;
  --section-h6-p: #666;
  --section-h3: #000;
  --dark: #fff;
  --genres: #000;
  --slide-card: #000;
  --swiper-controls-border: rgba(0, 0, 0, 0.12);
  --swiper-controls-bullet: #0000007c;
  --advantages: brightness(0) invert(0);
  --reviews-bg: #f9f9f9;
  --referance: invert(1) brightness(1);
  --referance-hover: #121213;
  --footer-bg: #fcfcfc;
  --sidebar: #fff;
  --film-content: rgba(150, 150, 150, 0.8);
  --border: #ddd;
  --movies-search-area: #fcfcfc;
}

[data-theme="dark"] {
  --sidebar: #000;
  --black: #fff;
  --text: #fff;
  --white-mode: #fff;
  --section-h6-p: #fff;
  --section-h3: #fff;
  --dark: #000;
  --film-content: rgba(20, 18, 18, 0.8);
  --genres: #fff;
  --swiper-controls-border: rgba(255, 254, 254, 0.12);
  --slide-card: #fff;
  --advantages: invert(1) brightness(1);
  --referance: invert(0) brightness(0);
  --swiper-controls-bullet: #ffffff7c;
  --reviews-bg: transparent;
  --referance-hover: #dbdbe2;
  --footer-bg: #000;
  --movies-search-area: #070707;
  --border: #1d1d1d;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800;8..60,900&display=swap");