body {
    font-size: 14px;
    line-height: normal;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    letter-spacing: normal;
   
}
body.bg-dark{
     background-color: #000 !important;
}
#main{
    padding-top: 70px;
}
@media screen and (min-width:992px){
    #main{
        padding-top: 90px;
    } 
}
.row{
    flex-basis: 100%;
    row-gap: 10px;
}